@use "../abstracts/vars" as var;
@use "../abstracts/mixins" as mix;

*,
*::before,
*::after {
  margin: 0; //? Какие мб негативные последствия?
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: var.$main-font;
  color: var.$color-text-basic;

  @include mix.title-400-14-21;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

// ? где его лучше подключать
.visually-hidden {
  @include mix.visually-hidden;
}
