@use "./vars" as var;

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin title-400-14-21 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
@mixin title-700-14-21 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
@mixin title-700-18-26 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
@mixin title-700-21-26 {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

@mixin button {
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: var.$color-text-white;
  background-color: var.$color-bg-primary;

  border: none;
  outline: none;

  &:hover {
    background-color: var.$color-bg-primary-hover;
  }
  &:active {
    color: #87b6d1;
    background-color: var.$color-bg-primary-active;
  }
}
