/* fonts */

$main-font: "PT Sans", "Arial", sans-serif;

/* colors */

$color-black: #000000;
$color-white: #ffffff;
$color-primary: #81b3d2;
$color-primary-hover: #669ec0;
$color-primary-active: #5496bd;

$color-text-basic: #333333;
$color-text-active: #b2b2b2;
$color-text-current-page: #766357;
$color-text-placholder: #a9a9a9;

$color-bg-grey: #f2f2f2;
$color-bg-grey-2: #e6e6e6;

$post-border: #e5e5e5;

$color-logo-active: #b3b3b3;

$menu-burger-hover: #b3d1e4;
$menu-burger-active: #d9e8f1;
$menu-close-hover: #cde1ed;
$menu-close-active: #a7cae0;

/* media queries */

$screen-mobile: 767px;
$screen-tablet: 768px;
$screen-desktop: 1200px;
