@use "../abstracts/vars" as var;
@use "../abstracts/mixins" as mix;

.call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 18px 49px;
  text-transform: uppercase;
}

.call-to-action__title {
  margin-bottom: 31px;
  padding-top: 40px;

  @include mix.title-700-21-26;
}

.call-to-action__message {
  max-width: 458px;
  text-align: center;
  margin-bottom: 31px;
}

.call-to-action__button {
  max-width: 458px;

  @include mix.title-700-21-26;
  @include mix.button;
}
