@use "../abstracts/mixins" as mix;
@use "../abstracts/vars" as *;

.checkbox {
  display: flex;
  align-items: center;

  @include mix.title-700-18-26;
  color: $color-black;
  text-transform: none;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &:active .checkbox__input {
    background-color: #d5d5d5;

    &:checked::before {
      background-image: url("../img/tick.svg#active");
      background-repeat: no-repeat;
    }
  }

  @media (min-width: $screen-tablet) {
    &:last-child {
      margin-bottom: 16px;
    }
  }

  @media (min-width: $screen-desktop) {
    justify-content: center;

    &:nth-last-child(2) {
      margin-left: -10px;
    }

    &:last-child {
      margin-left: -12px;
    }
  }
}

.checkbox__input {
  position: relative;
  width: 46px;
  height: 46px;
  margin-right: 16px;
  background-color: $color-bg-grey;
  border-radius: 4px;
  appearance: none;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 22px;
    height: 16px;
    background-image: url("../img/tick.svg#base");
    background-repeat: no-repeat;
  }

  &:checked::before {
    transform: translate(-50%, -50%) scale(1);
    transition: 0.2s ease-out 0s;
  }

  &:hover {
    background-color: $color-bg-grey-2;
    transition: 0.2s ease-out 0s;
  }
}
