@use "../abstracts/mixins" as mix;
@use "../abstracts/vars" as var;

.created {
  display: flex;
  align-items: center;
  color: var.$color-text-black;

  @include mix.title-400-14-21;
  text-transform: uppercase;

  @media (min-width: var.$screen-tablet) {
    justify-content: flex-end;
    padding-right: 76px;
  }

  @media (min-width: var.$screen-desktop) {
    padding-right: 136px;
  }

  &:hover {
    color: var.$color-bg-primary;
    fill: var.$color-bg-primary;
  }

  &:active {
    color: var.$color-logo-active;
    fill: var.$color-logo-active;
  }
}

.created__text {
  margin-right: 13px;
}

.created__logo {
  width: 27px;
  height: 35px;
  fill: inherit;
}
