@use "../abstracts/mixins" as mix;
@use "../abstracts/vars" as *;

.created {
  @include mix.title-400-14-21;
  display: flex;
  align-items: center;
  color: $color-black;
  text-transform: uppercase;
  transition: 0.2s ease-out 0s;

  @media (min-width: $screen-tablet) {
    justify-content: flex-end;
  }

  &:hover {
    color: $color-primary;
  }

  &:active {
    color: $color-logo-active;
  }
}

.created__text {
  margin-right: 13px;
}
