@use "../abstracts/vars" as *;
@use "../abstracts/mixins" as mix;

.feature {
  text-align: center;
  text-transform: uppercase;
  background-color: $color-bg-lightgrey;

  &--extended {
    background-color: $color-bg-primary;
    color: $color-text-white;
  }

  @media (min-width: $screen-tablet) {
    &:nth-child(1) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 256px 330px;
    }

    &:nth-child(1) .feature__wrapper {
      grid-column: 1 / span 1;
    }

    &:nth-child(1) .feature__image {
      grid-column: 2 / span 2;
    }

    &:nth-child(1) .feature__services {
      grid-column: 1 / span 3;
      grid-row: 2 / span 1;
    }

    &:nth-child(2) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    &:nth-child(2) .feature__wrapper {
      grid-column: 3 / span 1;
      grid-row: 1 / span 1;
    }

    &:nth-child(2) .feature__image {
      grid-column: 1 / span 2;
      grid-row: 1 / span 1;
    }
  }
}

.feature__image img {
  height: 160px;

  @media (min-width: $screen-tablet) {
    height: 256px;
  }
}

.feature__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 18px;
  padding: 24px 0;

  &--city {
    padding-top: 70px;
    padding-bottom: 40px;
  }

  &--bridge {
    padding-top: 37px;
    padding-bottom: 37px;
  }

  @media (min-width: $screen-tablet) {
    padding-top: 52px;
  }
}

.feature:nth-last-child(-n + 2) .feature__wrapper {
  border-top: 1px solid #d6d6d6;

  @media (min-width: $screen-tablet) {
    border: none;
  }
}

.feature__title {
  @include mix.title-700-18-26;
  margin: 0 0 11px 0;

  @media (min-width: $screen-tablet) {
    @include mix.title-700-21-26;
  }
}

.feature__number {
  margin: 0 0 17px 0;
}

.feature__description {
  margin: 0;
}
