@use "../abstracts/vars" as var;
@use "../abstracts/mixins" as mix;

.feature {
  display: grid;
  text-align: center;
  text-transform: uppercase;
  background-color: var.$color-bg-lightgrey;

  &--extended {
    background-color: var.$color-bg-primary;
    color: var.$color-text-white;
  }

  @media (min-width: var.$screen-tablet) {
    &:nth-child(1) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        "t i i"
        "s s s";
    }

    &:nth-child(1) .feature__text-wrapper {
      grid-area: t;
    }

    &:nth-child(1) .feature__image {
      grid-area: i;
    }

    &:nth-child(1) .feature__services {
      grid-area: s;
    }

    &:nth-child(2) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "i i t";
    }

    &:nth-child(2) .feature__text-wrapper {
      grid-area: t;
    }

    &:nth-child(2) .feature__image {
      grid-area: i;
    }
  }
}

.feature__text-wrapper {
  padding: 0 18px;
}

.feature__title {
  margin-bottom: 11px;
  padding-top: 30px;

  @include mix.title-700-18-26;

  &--city {
    padding-top: 70px;
  }

  &--bridge {
    padding-top: 40px;
  }
}

.feature__number {
  margin-bottom: 17px;
}

.feature__description {
  margin: 0;
  padding-bottom: 30px;

  &--city {
    padding-bottom: 40px;
  }

  &--bridge {
    padding-bottom: 43px;
  }

  &--b-border {
    border-bottom: 1px solid var.$b-border;
  }
}
