@use "../abstracts/mixins" as mix;
@use "../abstracts/vars" as *;

.fieldset {
  position: relative;
  margin: 0;
  text-transform: uppercase;
  border: none;

  &:nth-child(1) {
    padding: 24px 0 39px;
  }

  &:nth-child(2) {
    padding: 24px 0 34px;
  }

  &:nth-child(3) {
    padding: 27px 0 24px;
  }

  &:nth-child(4) {
    padding: 27px 0 23px;
  }

  &:nth-child(5) {
    padding: 24px 0 0;
  }

  @media (min-width: $screen-tablet) {
    &:nth-child(1) {
      margin: 0 0 61px;
      padding: 54px 43px 14px 0;
      border-right: 1px solid $post-border;
    }

    &:nth-child(2) {
      padding: 54px 0 0 43px;
    }

    &:nth-child(3) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 40px 28px 74px;
    }

    &:nth-child(4) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
      padding: 55px 84px 38px;
    }

    &:last-child {
      padding: 40px 0 64px;
    }

    &:nth-child(n + 3) {
      border-top: 1px solid $post-border;
    }

    &:nth-child(n + 3) > .fieldset__title {
      position: absolute;
      top: 0;
      left: 50%;
      width: 400px;
      transform: translate(-50%, -50%);
    }

    &:nth-child(-n + 2) > .fieldset__title {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  @media (min-width: $screen-desktop) {
    &:nth-child(1) {
      margin: 0 0 69px;
      padding: 54px 62px 14px 0;
    }

    &:nth-child(2) {
      padding: 54px 0 0 65px;
    }

    &:nth-child(3) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 50px;
      row-gap: 26px;
      padding: 58px 46px 98px;
    }

    &:nth-child(4) {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 0;
      padding: 85px 14px 84px;
    }
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: -20px;
    height: 1px;
    width: 100vw;
    background-color: $post-border;

    @media (min-width: $screen-tablet) {
      content: none;
    }
  }
}

.fieldset__title {
  text-align: center;
  margin: 0 0 20px;

  @include mix.title-700-18-26;
  color: $color-black;

  @media (min-width: $screen-tablet) {
    margin: 0;

    @include mix.title-700-21-26;
    background-color: $color-white;
  }
}

.fieldset__textarea {
  @include mix.title-700-18-26;
  display: block;
  width: 100%;
  min-height: 150px;
  margin-bottom: 56px;
  padding: 16px;
  color: $color-black;
  background-color: $color-bg-grey;
  border: none;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  resize: unset;

  &::placeholder {
    color: $color-text-placholder;
  }

  &:hover {
    background-color: $color-bg-grey-2;
  }

  &:focus {
    outline: 4px solid $color-bg-grey-2;
    outline-offset: -4px;
    background-color: $color-white;
  }

  @media (min-width: $screen-tablet) {
    height: 160px;
    margin-bottom: 48px;
  }

  @media (min-width: $screen-desktop) {
    width: 768px;
    margin: 0 auto 48px;
  }
}

.fieldset__submit-group {
  margin: 0 auto;

  @media (min-width: $screen-desktop) {
    width: 768px;
    margin: 0 auto;
  }
}
