@use "../abstracts/mixins" as mix;
@use "../abstracts/vars" as *;

.fieldset {
  position: relative;
  margin: 0;
  text-transform: uppercase;
  border: none;

  &:nth-child(1) {
    padding: 24px 0 39px;
  }

  &:nth-child(2) {
    padding: 24px 0 34px;
  }

  &:nth-child(n + 3) {
    padding: 24px 0 24px;
  }

  @media (min-width: $screen-tablet) {
    &:nth-child(1) {
      margin-bottom: 93px;
      padding: 54px 43px 0 0;
      border-right: 1px solid $post-border;
    }

    &:nth-child(2) {
      padding: 54px 0 0 43px;
    }

    &:nth-child(3) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 40px 28px 74px;

      @media (min-width: $screen-desktop) {
        grid-template-columns: repeat(3, 1fr);
        padding: 58px 0 100px;
      }
    }

    &:nth-child(4) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 84px 68px;

      @media (min-width: $screen-desktop) {
        grid-template-columns: repeat(4, 1fr);
        padding: 86px 44px 100px;
      }
    }

    &:last-child {
      padding: 40px 0 64px;
    }

    &:nth-child(n + 3) {
      border-top: 1px solid $post-border;
    }

    &:nth-child(n + 3) > .fieldset__title {
      position: absolute;
      top: 0;
      left: 50%;
      width: 400px;
      transform: translate(-50%, -50%);
    }

    &:nth-child(-n + 2) > .fieldset__title {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: -20px;
    height: 1px;
    width: 100vw;
    background-color: $post-border;

    @media (min-width: $screen-tablet) {
      content: none;
    }
  }
}

.fieldset__title {
  text-align: center;
  margin: 0 0 20px;

  @include mix.title-700-18-26;
  color: $color-black;

  @media (min-width: $screen-tablet) {
    margin: 0;

    @include mix.title-700-21-26;
    background-color: $color-white;
  }
}

.fieldset__field {
  position: relative;
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &--phone {
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      right: 0;
      z-index: 1;
      width: 58px;
      height: 58px;
      background-image: url("../img/icon-phone.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-color: #e6e6e6;
    }
  }

  &--email {
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      right: 0;
      z-index: 1;
      width: 58px;
      height: 58px;
      background-image: url("../img/icon-email.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-color: #e6e6e6;
    }
  }
}

.fieldset__label {
  padding-left: 16px;
}

.fieldset__input {
  width: 100%;
  padding: 16px;

  @include mix.title-700-18-26;
  color: $color-black;
  border: none;
  outline: none;
  background-color: $color-bg-grey;
  overflow: hidden;
  text-overflow: ellipsis;

  &::placeholder {
    color: $color-text-placholder;
  }

  &--increased-padding {
    padding-right: 16px + 58px;
  }
}

.fieldset__textarea {
  display: block;
  min-height: 150px;
  margin-bottom: 56px;
  resize: vertical;

  @media (min-width: $screen-tablet) {
    margin-bottom: 48px;
  }
}

.fieldset__submit-group {
  margin: 0 auto;
}
