@use "../abstracts/mixins" as mix;
@use "../abstracts/vars" as *;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 39px 0 23px;
  background-color: $color-white;

  @media (min-width: $screen-tablet) {
    flex-direction: row;
    padding: 36px 0;
  }
}

.footer__hashtag {
  margin: 0 0 34px;

  @include mix.title-700-21-26;
  text-transform: uppercase;

  @media (min-width: $screen-tablet) {
    flex-basis: calc(100% / 3);
    margin-bottom: 0;
    padding-left: 60px;
  }

  @media (min-width: $screen-desktop) {
    padding-left: 119px;
  }
}

.footer__socials {
  margin: 0 0 40px;

  @media (min-width: $screen-tablet) {
    flex-basis: calc(100% / 3);
    margin: 0;
  }
}

.footer__created {
  @media (min-width: $screen-tablet) {
    flex-basis: calc(100% / 3);
  }
}
