@use "../abstracts/mixins" as mix;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__tag {
  margin-bottom: 34px;
  padding-top: 39px;
  @include mix.title-700-21-26;
  text-transform: uppercase;
}
