@use "../abstracts/vars" as *;

.gallery {
  padding: 0 20px;
  overflow: hidden;
  background-color: $color-white;

  @media (min-width: $screen-tablet) {
    padding: 0 60px;
  }

  @media (min-width: $screen-desktop) {
    padding: 0;
  }
}

.gallery__intro {
  margin: 0 auto;
}
