@use "../abstracts/vars" as var;

.hero {
  position: relative;
  width: 100%;
  background-image: url("../img/hero-back-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1200px;
    height: 57px;
    background-image: url("../img/hero-triangle.svg");
    background-position: bottom;
    background-repeat: no-repeat;
  }

  &--main {
    min-height: 290px;
  }
}

.hero__title {
  margin: 0 auto;
  padding: 52px 0 67px;

  &--main {
    padding: 90px 0;
    height: auto;
  }
}
