@use "../abstracts/vars" as var;
@use "../abstracts/mixins" as mix;

.intro {
  display: grid;
  padding: 36px 0 28px;
  text-transform: uppercase;
  text-align: center;
  background-color: var.$color-bg-white;

  &--main {
    padding: 32px 18px 16px;
  }
}

.intro__title {
  margin: 0 0 24px 0;

  @include mix.title-700-18-26;
  color: var.$color-text-black;

  @media (min-width: var.$screen-tablet) {
    @include mix.title-700-30-26;
  }

  &--main {
    margin-bottom: 35px;
  }
}

.intro__message {
  margin: 0;

  @media (min-width: var.$screen-tablet) {
    @include mix.title-400-14-24;
  }
}
