@use "../abstracts/vars" as *;
@use "../abstracts/mixins" as mix;

.intro {
  display: grid;
  justify-items: center;
  padding: 34px 18px 16px;
  text-align: center;
  text-transform: uppercase;
  background-color: $color-white;

  &--feedback {
    padding: 36px 0 28px;
  }

  @media (min-width: $screen-tablet) {
    width: 520px;
    padding: 48px 0 55px;

    &--feedback {
      padding: 64px 0 102px;
    }
  }

  @media (min-width: $screen-desktop) {
    padding: 59px 0 45px;

    &--feedback {
      padding: 113px 0 66px;
    }
  }

  &--photos {
    padding: 37px 0 38px;

    @media (min-width: $screen-tablet) {
      width: 460px;
      padding: 67px 0 82px;
    }

    @media (min-width: $screen-desktop) {
      padding: 98px 0 89px;
    }
  }

  &--video {
    padding: 16px 0 39px;

    @media (min-width: $screen-tablet) {
      padding: 56px 0 90px;
    }

    @media (min-width: $screen-desktop) {
      padding: 62px 0 88px;
    }

    @media (min-width: $screen-tablet) {
      padding: 64px 0 102px;
    }
  }
}

.intro__title {
  @include mix.title-700-18-26;
  width: 270px;
  margin: 0 0 35px;
  color: $color-black;

  &--photos {
    margin: 0 0 25px;
  }

  &--video {
    margin: 0 0 28px;
  }

  &--feedback {
    margin: 0 0 24px;
  }

  @media (min-width: $screen-tablet) {
    @include mix.title-700-21-26;
    width: 100%;
    margin: 0 0 30px;

    &--video {
      @include mix.title-700-30-26;
      margin: 0 0 32px;
    }

    &--feedback {
      margin: 0 0 21px;
    }
  }

  &--font-bigger {
    @media (min-width: $screen-tablet) {
      @include mix.title-700-30-26;
    }
  }

  @media (min-width: $screen-desktop) {
    &--photos {
      margin: 0 0 32px;
    }

    &--feedback {
      margin: 0 0 30px;
    }
  }
}

.intro__message {
  @include mix.title-400-14-21;
  margin: 0;

  &--video {
    padding: 0 20px;
  }

  @media (min-width: $screen-tablet) {
    &--feedback {
      @include mix.title-400-14-24;
    }
  }
}

.intro__break {
  display: none;

  @media (min-width: $screen-tablet) {
    display: inline;
  }
}
