@use "../abstracts/vars" as *;

.page-header {
  position: relative;
  z-index: 1;
  height: 56px;
  background-color: $color-bg-white;

}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 185px;
}
