@use "../abstracts/vars" as var;

.page {
  background-color: var.$color-bg-grey;
}

.page__body {
  // background-color: #ff7f50;

  @media (min-width: var.$screen-desktop) {
    margin: 0 auto;
    max-width: 1200px;

    background: var.$color-bg-white;
    mix-blend-mode: normal;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}
