@use "../abstracts/vars" as *;

.page {
  background-color: $color-bg-grey;
}

.page__body {
  @media (min-width: $screen-desktop) {
    margin: 0 auto;
    max-width: 1200px;

    background: $color-white;
    mix-blend-mode: normal;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}
