@use "../abstracts/vars" as *;
@use "../abstracts/mixins" as mix;

.photos {
  @include mix.list-reset;
  background-color: $color-white;

  @media (min-width: $screen-tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $screen-desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.photos__item {
  position: relative;
  display: grid;
  padding: 24px 0 0;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: -20px;
    height: 1px;
    width: 100vw;
    background-color: $post-border;

    @media (min-width: $screen-tablet) {
      content: none;
    }

    @media (min-width: $screen-desktop) {
      content: "";
      top: unset;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 80px;
      background: $color-black;
      mix-blend-mode: normal;
      opacity: 0.3;
    }
  }

  &:last-child {
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: -20px;
      height: 1px;
      width: 100vw;
      background-color: $post-border;

      @media (min-width: $screen-tablet) {
        content: none;
      }
    }
  }

  @media (min-width: $screen-tablet) {
    padding: 0;

    &:nth-child(1) {
      grid-column: 1 / span 2;
    }
  }

  @media (min-width: $screen-desktop) {
    &:nth-child(1) {
      grid-column: 1 / span 3;
    }
  }
}

.photos__item:nth-child(1) .photos__image {
  @media (min-width: $screen-tablet) {
    height: 400px;
  }
}

.photos__image {
  width: 100%;
  height: 280px;
  object-fit: cover;

  @media (min-width: $screen-tablet) {
    height: 267px;
  }

  &--main {
    @media (min-width: $screen-tablet) {
      height: 400px;
    }
  }
}

.photos__info {
  padding: 15px 0 30px;

  @media (min-width: $screen-tablet) {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "title like"
      "author like";
    height: 80px;
    padding: 22px 20px 15px;
    background-color: $color-bg-grey;
  }

  @media (min-width: $screen-desktop) {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 21px 20px 0;
    background: none;
  }
}

.photos__title {
  @include mix.title-700-14-21;
  margin: 0 0 1px;
  text-transform: uppercase;
  max-width: 280px;
  padding-right: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  @media (min-width: $screen-tablet) {
    grid-area: title;
    max-width: unset;
    width: 90%;
    padding: 0;
  }

  @media (min-width: $screen-desktop) {
    margin: 0;
    color: $color-white;
  }
}

.photos__author {
  @include mix.title-400-14-21;
  margin: 0 0 12px;
  max-width: 280px;
  padding-right: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  @media (min-width: $screen-tablet) {
    grid-area: author;
    max-width: unset;
    width: 90%;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $screen-desktop) {
    margin: -8px 0 0 0;
    color: $color-white;
  }
}

.photos__like {
  @media (min-width: $screen-tablet) {
    grid-area: like;
    align-items: center;
    height: 100%;
  }

  @media (min-width: $screen-desktop) {
    color: $color-white;
  }
}
