@use "../abstracts/vars" as var;
@use "../abstracts/mixins" as mix;

.photos {
  @include mix.list-reset;

  @media (min-width: var.$screen-tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: var.$screen-desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.photos__item {
  outline: 5px solid rgba(255, 0, 0, 0.2);
  outline-offset: -5px;

  position: relative;
  padding: 24px 0 25px;

  @media (min-width: var.$screen-tablet) {
    &:nth-child(1) {
      grid-column: 1 / span 2;
      max-height: 400px;
      overflow: hidden; // todo: переделать

      @media (min-width: var.$screen-desktop) {
        grid-column: 1 / span 3;
      }
    }
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: -20px;
    height: 1px;
    width: 100vw;
    background-color: var.$post-border;

    @media (min-width: var.$screen-tablet) {
      content: none;
    }
  }

  &:last-child {
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: -20px;
      height: 1px;
      width: 100vw;
      background-color: var.$post-border;

      @media (min-width: var.$screen-tablet) {
        content: none;
      }
    }
  }
}

.photos__image {
  margin-bottom: 15px;
  width: 100%;
}

.photos__title {
  margin-bottom: 2px;

  @include mix.title-700-14-21;
  text-transform: uppercase;
}

.photos__author {
  margin-bottom: 11px;

  @include mix.title-400-14-21;
}
