@use "../abstracts/mixins" as mix;
@use "../abstracts/vars" as var;

.radio {
  display: flex;
  align-items: center;

  @include mix.title-700-18-26;
  color: var.$color-text-black;
  text-transform: none;

  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.radio__input {
  position: relative;

  width: 46px;
  height: 46px;
  margin-right: 16px;

  background-color: var.$color-bg-grey;
  border-radius: 50%;

  appearance: none;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);

    width: 16px;
    height: 16px;

    background-color: var.$color-text-basic;
    border-radius: 50%;
  }

  &:checked::before {
    transform: translate(-50%, -50%) scale(1);
  }
}
