@use "../abstracts/vars" as *;
@use "../abstracts/mixins" as mix;

.services {
  @include mix.list-reset;
  display: grid;
  row-gap: 25px;
  padding: 23px 18px 46px;
  color: $color-text-basic;
  background-color: $color-white;

  @media (min-width: $screen-tablet) {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 55px 0;
  }
}

.services__item {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-areas:
    "svg title"
    ". desc";
  column-gap: 7px;
  text-align: left;

  & :nth-child(1) {
    grid-area: svg;
    fill: $color-primary;
  }

  & :nth-child(2) {
    grid-area: title;
  }

  & :nth-child(3) {
    grid-area: desc;
  }

  @media (min-width: $screen-tablet) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "svg"
      "title"
      "desc";
    justify-items: center;
    max-width: 190px;
    text-align: center;

    & :nth-child(1) {
      width: 80px;
      height: 80px;
    }
  }
}

.services__item svg {
  @media (min-width: $screen-tablet) {
    margin-bottom: 18px;
  }
}

.services__title {
  @include mix.title-700-18-26;
  margin: 0 0 16px;
  padding-top: 8px;
  color: $color-black;

  @media (min-width: $screen-tablet) {
    @include mix.title-700-21-26;
    padding: 0;
  }
}

.services__description {
  @include mix.title-400-14-21;
  margin: 0;
}
