@use "../abstracts/vars" as *;
@use "../abstracts/mixins" as mix;

.site-nav {
  position: relative;

  @include mix.title-700-18-26;
  text-transform: uppercase;
  text-align: center;
}

.site-nav__toggle-menu {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 22px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.site-nav--closed .site-nav__toggle-menu {
  @media (max-width: $screen-mobile) {
    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      width: 23px;
      height: 4px;
      background-color: $color-primary;
      box-shadow: 0 9px 0 0 $color-primary, 0 18px 0 0 $color-primary;
    }

    &:hover::before {
      background-color: $menu-burger-hover;
      box-shadow: 0 9px 0 0 $menu-burger-hover, 0 18px 0 0 $menu-burger-hover;
    }

    &:active::before {
      background-color: $menu-burger-active;
      box-shadow: 0 9px 0 0 $menu-burger-active, 0 18px 0 0 $menu-burger-active;
    }
  }
}

.site-nav--opened .site-nav__toggle-menu {
  @media (max-width: $screen-mobile) {
    z-index: 2;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 3px;
      width: 28px;
      height: 4px;
      background-color: $color-white;
      transform-origin: top right;
      transform: rotate(-45deg);
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 3px;
      width: 28px;
      height: 4px;
      background-color: $color-white;
      transform-origin: top left;
      transform: rotate(45deg);
    }

    &:hover::before,
    &:hover::after {
      background-color: $menu-close-hover;
    }

    &:active::before,
    &:active::after {
      background-color: $menu-close-active;
    }
  }
}

.site-nav--closed .site-nav__list {
  @media (max-width: $screen-mobile) {
    display: none;
  }
}

.site-nav__list {
  @include mix.list-reset;

  display: grid;

  @media (max-width: $screen-mobile) {
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      width: 100%;
      height: 7px;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.2) 100%
      );
      mix-blend-mode: normal;
    }
  }

  @media (min-width: $screen-tablet) {
    grid-template-columns: repeat(5, 1fr);
    background-color: transparent;
  }
}

.site-nav__item {
  height: 56px;
  color: $color-white;
  background-color: $color-primary;

  @media not screen and (min-width: $screen-tablet) {
    &:not(:first-child) {
      border-top: 1px solid #9ac2db;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #678fa8;
    }
  }

  &:hover {
    background-color: $color-primary-hover;
    transition: 0.2s ease-out 0s;
  }

  &:active {
    color: #87b6d1;
    background-color: $color-primary-active;
  }

  @media (min-width: $screen-tablet) {
    color: $color-black;
    background-color: transparent;

    &:nth-child(3) {
      grid-column: 4 / 5;
    }

    &:hover {
      color: $color-primary;
      background-color: transparent;
    }

    &:active {
      color: $color-text-active;
      background-color: transparent;
    }

    &--current-page {
      color: $color-text-current-page;
      pointer-events: none;
    }
  }
}

.site-nav__link {
  display: grid;
  place-content: center;
  height: 100%;
  color: inherit;
}
