@use "../abstracts/mixins" as mix;
@use "../abstracts/vars" as *;

.socials {
  display: flex;
  column-gap: 6px;
  padding: 0;
  list-style-type: none;

  @media (min-width: $screen-tablet) {
    justify-content: center;
  }
}

.socials__link {
  display: grid;
  place-content: center;
  width: 48px;
  height: 48px;
  background-color: $color-primary;
  color: $color-white;
  transition: 0.2s ease-out 0s;

  &:hover {
    background-color: $color-primary-hover;
  }

  &:active {
    background-color: $color-primary-active;
    color: #87b6d1;
  }
}
