@use "../abstracts/mixins" as mix;
@use "../abstracts/vars" as *;

.socials {
  display: flex;
  column-gap: 6px;
  padding: 0;
  list-style-type: none;

  @media (min-width: $screen-tablet) {
    justify-content: center;
  }

  outline: 5px solid rgba(255, 0, 0, 0.2);
  outline-offset: -5px;
}

.socials__link {
  display: block;
  width: 48px;
  height: 48px;
  background-color: $color-primary;

  &:hover {
    background-color: $color-primary-hover;
  }

  &:active {
    background-color: $color-primary-active;
  }
}

.socials__icon {
  color: tan;
  fill: coral;
}
