@use "../abstracts/mixins" as mix;
@use "../abstracts/vars" as *;

.submit-group {
  @media (min-width: $screen-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.submit-group__button {
  @include mix.button;
  @include mix.title-700-21-26;
  margin-bottom: 3px;

  @media (min-width: $screen-tablet) {
    width: 324px;
    margin: 0;
  }

  @media (min-width: $screen-desktop) {
    width: 384px;
  }
}

.submit-group__help-text {
  margin: 0;
  text-align: end;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: #858585;

  @media (min-width: $screen-tablet) {
    font-size: 14px;
    padding-top: 8px;
  }
}
