@use "../abstracts/vars" as var;

.toggle {
  // * >>
  outline: 4px dotted rgba(255, 255, 255, 0.5);
  outline-offset: 5px;
  // * <<

  display: block;
  width: 24px;
  height: 20px;
  appearance: none;
  // todo: переделать на спрайт
  background-image: url("../img/icon-burger.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;

  &:checked {
    width: 23px;
    height: 23px;
    // todo: переделать на спрайт
    background-image: url("../img/icon-cross.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media (min-width: var.$screen-tablet) {
    display: none;
  }
}
